.latestWorks {
  .wrapper {
    width: 100%;
    max-width: 1000px;
    height: 280px;
    margin: auto;

    .headWorks {
      .titleWorks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #dfe1e5;
        .icon {
          display: flex;
          align-items: center;
          gap: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .navigate {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          cursor: pointer;

          .itemNavigate {
            padding: 5px;
            border-radius: 50%;
            background-color: #81e4ed;
          }
        }
      }
    }
  }
}
